
{%- if section.settings.enable -%}
  <div class="announcement-bar d-flex align-items-center py-1" role="region" aria-label="Announcements">
    <div class="container">
      <div class="row justify-content-end" id="announcement-bar__content">
          <div class="col-12 col-lg-6 text-center" id="announcement-bar__text">
            {%- content_for "blocks" -%}
          </div>
          {%- if section.settings.enable_contact_info and section.settings.contact_info != blank -%}
            <div class="col-12 col-lg-3" id="announcement-bar__contact-info">
              <div class="d-flex justify-content-lg-end justify-content-center text-center">
                {{ section.settings.contact_info }}
              </div>
            </div>
          {%- endif -%}
      </div>
    </div>
  </div>
  
  {{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<style>
  .announcement-bar {
    min-height: {{ section.settings.min_height }}px;
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>

{%- schema -%}
{
  "name": "t:name.announcement_bar",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "t:sections.announcement_bar.label.enable",
      "default": true
    },
    {
      "type": "number",
      "id": "min_height",
      "label": "t:sections.announcement_bar.label.min_height",
      "default": 40
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.announcement_bar.label.background_color",
      "default": "#C2E5FF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.announcement_bar.label.text_color",
      "default": "#293132"
    },
    {
      "type": "checkbox",
      "id": "enable_contact_info",
      "label": "t:sections.announcement_bar.label.enable_contact_info",
      "default": true
    },
    {
      "type": "richtext",
      "id": "contact_info",
      "label": "t:sections.announcement_bar.label.contact_info",
      "default": "<p>Contact us at <a href=\"mailto:krutikmandaviya.gg@gmail.com\" title=\"contact-us-email\">krutikmandaviya.gg@gmail.com</a></p>"
    }
  ],
  "presets": [
    {
      "name": "t:name.announcement_bar",
      "category": "t:category.header",
      "blocks": [
        {
          "type": "swiper-slider",
          "settings": {
            "loop": true,
            "autoplay": true,
            "fade_effect": true,
            "navigation": false
          },
          "blocks": [
            {
              "type": "swiper-slide",
              "settings": {
                "text": "free shipping on orders over $70"
              }
            },
            { 
              "type": "swiper-slide", 
              "settings": { 
                "text": "Use the CODE ”FIRST” to get 10% Off Your First Order."
              } 
            }
          ]
        }
      ]
    }
  ]
}
{%- endschema -%}
