<site-header class="w-100 h-100 d-flex align-items-center" role="banner" aria-label="Site header" data-sticky-option="{{ section.settings.sticky_option }}">
  <div class="container">
    <nav id="desktop__nav" aria-label="Desktop navigation">
      <div class="row">
        <div class="col-2">
          <a href="{{ shop.url }}" class="text-decoration-none" aria-label="{{ shop.name }}">
            {%- if settings.logo != blank -%}
              <img src="{{ settings.logo | image_url: width: 160, height: 35 }}" alt="{{ shop.name }} logo" class="site-logo" width="160" height="35">
              <span class="visually-hidden">{{ shop.name }}</span>
            {%- else -%}
              <h1>{{ shop.name }}</h1>
            {%- endif -%}
          </a>
        </div>
        <div class="col-8">
          {%- if section.settings.menu != blank -%}
            <ul class="w-100 h-100 d-flex align-items-center list-unstyled menu-links gap-4" role="list">
              {%- for link in section.settings.menu.links -%}
                <li class="menu-link-item" role="listitem">
                  <a href="{{ link.url }}" class="menu-link" data-hover-handler="{{ link.handle }}">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
        <div class="col-2">
          <ul class="w-100 h-100 d-flex justify-content-end align-items-center list-unstyled menu-links menu-icon-links gap-2" role="list">
            <li class="menu-link-item" role="listitem">
              <a href="{{ routes.search_url }}" class="menu-link" aria-label="Search">
                {{ 'icon-search.svg' | inline_asset_content }}
                <span class="visually-hidden">Search</span>
              </a>
            </li>
            <li class="menu-link-item" role="listitem">
              <a href="{{ routes.account_url }}" class="menu-link" aria-label="Account">
                {{ 'icon-account.svg' | inline_asset_content }}
                <span class="visually-hidden">Account</span>
              </a>
            </li>
            <li class="menu-link-item" role="listitem">
              <a href="{{ routes.cart_url }}" class="menu-link d-flex" aria-label="Cart" data-drawer-toggle="cart">
                <span class="cart-icon-wrapper">
                  {{ 'icon-cart.svg' | inline_asset_content }}
                  {% if cart.item_count > 0 %}
                    <span class="cart-badge">{{ cart.item_count }}</span>
                  {% endif %}
                </span>
                <span class="visually-hidden">Cart</span> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav id="mobile__nav" aria-label="Mobile navigation">
    </nav>
  </div>
  {%- content_for "blocks" -%}
</site-header>

{{ 'element-header.css' | asset_url | stylesheet_tag }}
<script type="module" src="{{ 'element-header.js' | asset_url }}"></script>

<style>
  :root {
    --site-header-height: {{ section.settings.min_height }}px;
  }

  header {
    height: var(--site-header-height);
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>

{%- schema -%}
{
  "name": "t:name.header",
  "blocks": [{ "type": "@theme" }],
  "tag": "header",
  "settings": [
    {
      "type": "select",
      "id": "sticky_option",
      "label": "t:label.sticky_behavior",
      "default": "always",
      "options": [
        {
          "value": "always",
          "label": "t:options.always"
        },
        {
          "value": "on-scroll-up",
          "label": "t:options.on_scroll_up"
        },
        {
          "value": "none",
          "label": "t:options.never"
        }
      ]
    },
    {
      "type": "number",
      "id": "min_height",
      "label": "t:label.min_height",
      "default": 80
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:label.background_color",
      "default": "#F1F5F9"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:label.text_color",
      "default": "#293132"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:label.menu",
      "default": "main-menu"
    }
  ]
}
{%- endschema -%}
